body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.caption {
  color: greenyellow;
  font-weight: bold;
  padding: 0 4%;
  padding-top: 30%;
}

.caption::selection {
  background-color: greenyellow;
  color: black;
}

#terminal {
  color: white;
  font-weight: normal;
}

#terminal::selection {
  /* weird thing about Chrome, just "white" doesn't work */
  background-color:rgba(255, 255, 255, 0.996);
  color: black;
}

@media screen and (max-width: 800px) {
  .caption {
    font-size: medium;
  }
}

footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 80px 0;
	text-align: center;
	z-index: 1;
}

footer a {
  padding: 10px 20px;
  color: white;
  text-emphasis: none;
}

footer a:hover {
  transition-duration: 400ms;
  color: greenyellow;
}
